/target/
!.mvn/wrapper/maven-wrapper.jar

### For Mac Users ###
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Android Studio
.idea
*.iws
*.ipr
.gradle/
gradle/
build/
build.gradle
gradlew
gradlew.bat
settings.gradle
*.iml


### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
